* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fafafa;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding-top: 24px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.gallery-item {
  height: 200px;
  width: 360px; 
  overflow: hidden;
  transition: transform 0.3s ease;
}
.gallery-link {
  display: block;
  height: 100%;
  width: 100%;
}
.gallery-image {
  height: 100%;
  width: 100%; 
  display: block;
  object-fit: cover;
}
.gallery-item:hover {
  transform: scale(1.05);
}
.big-image {
  max-width: 1112px;
  min-height: 640px;
  padding-top: 28px;
  margin-left: auto;
  margin-right: auto;
}
